
/*
=======================================
 Andersen Lab Genome Assembly Pipeline
=======================================
*/

import java.time.*
Date now = new Date()

outputDir="assembly_${now.format("yyyyMMdd")}"
trace.enabled = true
conda.enabled = true

process {
    cache = 'lenient'
}

manifest {
    homePage = "http://www.andersenlab.org"
    description = "genome assembly"
    mainScript = "main.nf"
    nextflowVersion = '>=24.10.0'
    version = "3.0.0"
}

params {
    tracedir = "pipeline_info"
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    help = false
    debug = false
    data_path = "/vast/eande106/data/transfer/raw"
    mode = "inbred"
    R_libpath = "/data/eande106/software/R_lib_4.2.1"
    params.ext_master = null
}

profiles {
    rockfish { includeConfig 'conf/rockfish.config' }
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

trace {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_trace.txt"
}

dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.svg"
}
