params {
    tmpdir = "/scratch4/eande106/AndersenLab/tmp"
    source = "default"
    prot_path = "/vast/eande106/projects/Lance/THESIS_WORK/gene_annotation/misc/N2_BRAKER_error/N2_WS283.protein.fa"
}

executor {
    queueSize=500
    submitRateLimit=10
}

singularity {
    cacheDir = "/vast/eande106/singularity"
    enabled = true
    autoMounts = true
    pullTimeout = '20 min'
}

process {   
    executor = "slurm"
    clusterOptions = "-A eande106 -e errlog.txt -N 1"
    
    withLabel: 'braker' {
        cpus = { 24 * task.attempt }
        time = { 36.hour * task.attempt }
        queue = "parallel"
        maxRetries = 2
        errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
    }
    
    withLabel: 'agat' {
        cpus = 4
        queue = "parallel"
        maxRetries = 2
        conda = "/data/eande106/software/conda_envs/agat"
    }
    
     withLabel: 'busco' {
        cpus = 8
        queue = "parallel"
        maxRetries = 2
        conda = "/data/eande106/software/conda_envs/busco"
    }
    
}
