params {
    tmpdir = "/scratch4/eande106/tmp"
    source = "default"
    species = null
}

executor {
    queueSize=50
    submitRateLimit=10
}

singularity {
    cacheDir = "/vast/eande106/singularity"
    enabled = true
    autoMounts = true
    pullTimeout = '20 min'
}

process {   
    executor = "slurm"
    clusterOptions = "-A eande106 -e errlog.txt -N 1"

    withLabel: 'masking' {
        cpus = 24
        queue = "parallel"
        conda = "/data/eande106/software/conda_envs/gffread"
    }

    withLabel: 'braker' {
        cpus = { 24 * task.attempt }
        time = { 36.hour * task.attempt }
        queue = "parallel"
        maxRetries = 2
        errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
        maxForks = 50
    }
    
    withLabel: 'agat' {
        cpus = 4
        queue = "parallel"
        maxRetries = 2
        conda = "/data/eande106/software/conda_envs/agat"
    }
    
    withLabel: 'prot' {
        cpus = 4
        queue = "parallel"
        maxRetries = 2
        conda = "/data/eande106/software/conda_envs/gffread"
    }

    withLabel: 'busco' {
        cpus = 4
        queue = "parallel"
        maxRetries = 2
        conda = "/data/eande106/software/conda_envs/busco"
    }

    withLabel: 'writing' {
        cpus = 1
        queue = "parallel"
        conda = "/data/eande106/software/conda_envs/gffread"
    }
    
}
