params {
    data_path = "/vast/eande106/data/transfer/raw"
    tmpdir = "/scratch4/eande106/AndersenLab/tmp"
    mode = "everything"
}

executor {
    queueSize=500
    submitRateLimit=10
}

process {   
    
    withLabel: 'braker' {
        container = ""
        clusterOptions = "-A eande106 -e errlog.txt -N 1"
        maxRetries = 3
    }
    
    withLabel: 'agat' {
        conda = "XXX'
        executor = "slurm"
        clusterOptions = "-A eande106 -e errlog.txt -N 1 -n 12"
        queue = "parallel"
        maxRetries = 3
    }
    
     withLabel: 'busco' {
        conda = "/data/eande106/software/conda_envs/busco"
        executor = "slurm"
        clusterOptions = "-A eande106 -e errlog.txt -N 1 -n 12"
        queue = "parallel"
        maxRetries = 3
    }
    
}
